.price-table {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 1.6rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin-bottom: 8rem !important;
    padding: 2rem 0;
 
    @include mf-tablet-big {
        width: 60rem;
    }

    tbody {
        tr {
            text-align: center;
            th {
                padding: 1rem 2rem;
            }
            td {
                padding: 1rem 2rem;
            }
        }
    }

    &__heading {
        color: $waiting-list-color;
    }
}
